
<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% set iconUrl = "http://interactive.ftchinese.com/favicons" %}
    <link rel="apple-touch-icon" sizes="180x180" href="{{iconUrl}}/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{{iconUrl}}/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{{iconUrl}}/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{{iconUrl}}/apple-touch-icon-76x76.png">
    <link href="{{iconUrl}}/favicon.ico" type="image/x-icon" rel="shortcut icon" />

    <title>{% block title %}B2B订阅{% endblock %} - FT中文网</title>
    {% if env.Debug %}
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/static/style/main.css">
    {% else %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    {% endif %}
</head>

<body>
    <header class="navbar navbar-expand-lg o-header">
        <div class="container">
            <a class="navbar-brand" href="/">FT中文网B2B</a>
        </div>
    </header>

    <main class="page-content" class="mt-3" role="main">
        <div class="container">

            {% block main %}
            <div class="row">
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">机构名称</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>

                    <nav class="nav flex-column">
                        <a class="nav-link" href="/licences">许可</a>
                        <a class="nav-link" href="/users">成员</a>
                        <a class="nav-link" href="/invitations">邀请</a>
                        <a class="nav-link" href="transactions">交易历史</a>
                        <a class="nav-link" href="/settings">设置</a>
                        <a class="nav-link" href="/logout">退出</a>
                    </nav>
                </div>

                <div class="col-sm-9">
                    {% block content %}{% endblock %}
                </div>
            </div>
            {% endblock %}
        </div>
    </main>

    <footer class="o-footer o-footer--theme-dark">
        <div class="container">

            <div class="text-muted pb-2">
                <small>版本 v{{env.Version}}</small>
            </div>
        </div>
    </footer>

    {% if env.Debug %}
    <script src="/js/bootstrap-native-v4.js"></script>
    <script src="/static/script/main.js"></script>
    {% else %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap.native/2.0.27/bootstrap-native-v4.min.js"></script>
    {% endif %}
</body>
</html>