{% extends "layouts/center.html" %}

{% block content %}

<h4 class="text-center">B2B订阅管理登录</h4>

<form method="post">

    {% for input in form.Fields %}
    <div class="form-group">
        {% include "partials/text-field.html" %}
    </div>
    {% endfor %}

    <div class="form-check">
        <input class="form-check-input"
               id="rememberMe"
               type="checkbox"
               name="rememberMe"
               value="true"
               checked>

        <label for="rememberMe">记住我</label>

    </div>

    {% include "partials/button.html" with button=form.SubmitBtn %}
</form>

<div class="d-flex justify-content-between mt-4">
    <a href="/forgot-password/letter">忘记密码？</a>
    <a href="/signup">创建账号</a>
</div>

<div class="mt-4 text-muted">B2B账号与登录FT中文网的账号不同，该账号仅用于管理您所属机构的订阅成员，并不能登录FT中文网。不过，您可以使用登录FT中文网的邮箱创建B2B账号。</div>
{% endblock %}