{% if input.Label %}
<label class="form-label" for="{{input.ID}}">{{input.Label}}</label>
{% endif %}

{% if input.Type.IsTextArea() %}
<textarea
        class="form-control"
        id="{{ input.ID }}"
        name="{{ input.Name }}"
        {% if input.MaxLength %}
        maxlength="{{ input.MaxLength }}"
        {% endif %}
        rows="3">{{ input.Value }}</textarea>

{% else %}

<input class="form-control"
       type="{{ input.Type.String() }}"
       id="{{input.ID}}"
       type="{{input.Type}}"
       name="{{input.Name}}"
       {% if input.Value %}
       value="{{input.Value}}"
       {% endif %}
       {% if input.Pattern %}
       pattern="{{input.Pattern}}"
       {% endif %}
       placeholder="{{input.Placeholder}}"
       {% if input.MinLength %}
       minlength="{{input.MinLength}}"
       {% endif %}
       {% if input.MaxLength %}
       maxlength="{{input.MaxLength}}"
       {% endif %}
       {% if input.Required %}
       required
       {% endif %}
       {% if input.ReadOnly %}
       readonly
       {% endif %}
       {% if input.DataList.ID %}
       list="{{input.DataList.ID}}"
       {% endif %}
       {% if input.CataComponent %}
       data-component="{{ input.DataComponent }}"
       {% endif %}
       {% if input.DataTarget %}
       data-target="{{ input.DataTarget }}"
       {% endif %}>
{% endif %}

{% if input.DataList.ID %}
<datalist id="{{ input.DataList.ID }}">
    {% for option in input.DataList.Options %}
    <option value="{{option}}">{{ option }}</option>
    {% endfor %}
</datalist>
{% endif %}

{% if input.Desc %}
<small class="form-text text-muted">{{ input.Desc }}</small>
{% endif %}

{% if input.ErrMsg %}
<div class="form-errortext">{{ input.ErrMsg }}</div>
{% endif %}