{{template "layout.html" .}}

{{define "content"}}
<h1>Upload single file with fields</h1>

<form action="/api/upload/id-card" method="post" enctype="multipart/form-data">
    <input type="hidden" name="_csrf" value="{{.CSRF}}">
    <input type="hidden" name="page" value="0">
    <div class="mb-3">
        <label for="cusId" class="form-label">Customer ID</label>
        <input type="text" class="form-control" id="cusId" name="cusId">
    </div>
    <div class="mb-3">
        <label for="number" class="form-label">ID Card</label>
        <input type="text" class="form-control" id="number" name="number">
    </div>
    <div class="mb-3">
        <label for="photo" class="form-label">ID Photo</label>
        <input class="form-control" type="file" id="photo" name="photo">
    </div>

    <button type="submit" class="btn btn-primary mb-3">Submit</button>
</form>
{{end}}